<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.initto.ramadanalarm" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ramadan Alarm</name>
    <description>
       Ramadan Alarm application to remind you at the right time.
    </description>
    <author email="into@initto.ca" href="http://www.initto.ca">
        Initto IT Consulting Inc.
    </author>
    <content src="default.html" />
    <access origin="*" />
    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
        <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
    </feature>
    <engine name="android" spec="^4.0.2" />
</widget>
